
    <section  class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div *ngIf="imagenesService.cant > 0">
        <h5>BUSQUEDA:</h5>
      </div>
      <div *ngIf="imagenesService.cant == 0">
        <h5>No existen imagenes, bajo los parametros de busqueda</h5>
      </div>
        
        <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
          <a *ngFor="let img of imagenesService.imagenesfiltrado[2]" routerLink="/item" class="rk-item ae-masonry__item">
            <img src="{{ img.largeImageURL }}" alt="">
            <div class="item-meta">
              <p><b>Visitas : {{ img.views }}</b></p>
              <p><b>Me gusta : {{ img.likes }}</b></p>
              <p><b>Tags : {{ img.tags }}</b></p>
            </div>
          </a>
        </div>
      </section>
      
        